html, body {
    background-color: teal;
    margin: 0;
    padding: 30;
  }
  canvas{
    margin-left: 25%;
    margin-right: 25%;
    margin-top: 100px;
    border-width: 2px;
    border-color: yellowgreen;
    background-color: teal;
  }
  
  